<template>

    <div class="container">
        <router-view></router-view>
    </div>
</template>
<script>

export default{

    components:{
      //  Home,
     //   UpdateEmployee

    },
    data(){
        return{
            title: "hello welcome to vue js"
        }
    }
}
</script>

<style>


</style>
