<template>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">


    <div class="container">
        <h1 class="my-4">Fetch Employee</h1>
        <router-link to="/emp">Update</router-link>
        <div class="col-md-6">
            <form @submit="create">
                <label for="">EmployeeName</label>
                <input type="text" class="form-control" required v-model="employee.emp_name">
                <label for="">Age</label>
                <input type="text" class="form-control" required v-model="employee.age">
                <label for="">Phone</label>
                <input type="text" class="form-control" required v-model="employee.phone">
                <button class="btn btn-success btn-sm mt-2">Save Data</button>
            </form>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>EmpName</th>
                    <th>Age</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="e in emp" v-bind:key="e">
                    <th>{{ e.id }}</th>
                    <td>{{ e.emp_name }}</td>
                    <td>{{ e.age }}</td>
                    <td>{{ e.phone }}</td>
                    <td>
                        <!-- <router-link :to="{name: 'emp', params:{id: e.id} }">Update</router-link> -->
                        <!-- <router-link :to="{path: '/emp/' + e.id + '/edit' }">Edit</router-link> -->
                        <router-link :to="{name: 'emp', params:{id: e.id} }">Update</router-link>
                        <router-link :to="{name: 'tupdate',params:{id: e.id} }">Test Update</router-link>
                        <button @click="deleteCategory(e.id)" class="btn btn-danger btn-sm">Delete</button>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</template>
<script>
import axios from 'axios'
    export default{
        name: "emp",
        data(){
            return{
                emp: [],
                employee: {
                    emp_name: "",
                    age: "",
                    phone: ""
                }
            }
        },
        mounted(){
            this.getemp();

        },
        methods:{
            async getemp(){
                await axios.get('/api/employee').then(response=>{
                    this.emp = response.data
                }).catch(err=> {
                    console.log(err)
                    this.emp = [];
                })
            },
            deleteCategory(id){
                if(confirm("Are you sure delete?")){
                    axios.delete(`/api/delete/${id}`).then(response=>{
                        alert("Delete Success")
                        setTimeout(()=>{
                            this.getemp();
                        },500)
                    }).catch(err=>{
                        console.log(err)
                    })
                }
            },
            async create(){
                await axios.post('/api/saveemp', this.employee).then(response=> {
                    alert("Save Successfull")
                    setTimeout(()=>{
                        this.getemp();
                    },5000)
                }).catch(err=>{
                    console.log(err);
                })
            }
        }
    }
</script>

<style>


</style>
