<template>

    <p>{{ post.age }}</p>
</template>

<script>


export default{
    data() {
        return {
            post: {
                emp_name: "",
                age: "",
                phone: ""
            }

        }
    },

    mounted() {
        this.fetchdata();
    },
    methods: {
        async fetchdata() {

                const response = await axios.get(`/api/employee/${this.$route.params.id}`);
                console.log(response.data);
                this.post.emp_name = response.data.emp_name;
                this.post.age = response.data.age;
                this.post.phone = response.data.phone;

        }
    }
}


</script>
