<template>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <h1>Update</h1>
    <div class="row">
        <div class="col-md-3">
            <form @submit.prevent="updateEmployee">
                <label for="">EmpName</label>
                <input type="text" required class="form-control" v-model="post.emp_name">
                <label for="">Age</label>
                <input type="text" required class="form-control" v-model="post.age">
                <label for="">Phone</label>
                <input type="text" required class="form-control" v-model="post.phone">
                <button class="btn btn-success mt-2">Save</button>
                <p>{{ post.age }}</p>
            </form>
        </div>
    </div>
</template>
<script>
import axios from 'axios';


export default {
    data() {
        return {
            post: {
                emp_name: "",
                age: "",
                phone: ""
            }

        }
    },
    mounted() {
        this.fetchdata();
    },
    methods: {
        async fetchdata() {

            const response = await axios.get(`/api/employee/${this.$route.params.id}`);
            console.log(response.data);
            this.post.emp_name = response.data.emp_name;
            this.post.age = response.data.age;
            this.post.phone = response.data.phone;
        },

        async updateEmployee() {
            await axios.patch(`/api/employee/${this.$route.params.id}`, this.post)
            .then(respone => {
                alert("Udpate Success");
                this.$router.push({name: "home"})
            })
            .catch(err => {
                console.log(err)
            })

        }
    }
}

</script>
<style></style>
